@model WebUI.Models.Park

@{
    ViewData["Title"] = "Index";
}

<h1>Park</h1>

<p>
    Today, my fabulous camp group went to a (an)
</p>
<p>
    @Html.DisplayNameFor(Model => Model.adjective) amusement park. It was a
</p>
<p>
    fun park with lots of cool @Html.DisplayNameFor(Model => Model.nounPl)
</p>
<p>
    and enjoyable play structures. When we got there, my
</p>
<p>
    kind counselor shouted loudly, "Everybody off the
</p>
<p>
    @Html.DisplayNameFor(Model => Model.noun)." We all pushed out in a terrible
</p>
<p>
    hurry. My counselor handed out yellow tickets, and
</p>
<p>
    we scurried in. I was so excited! I couldn't figure out
</p>
<p>
    what exciting thing to do first. I saw a scary roller
</p>
<p>
    coaster I really liked so, I @Html.DisplayNameFor(Model => Model.adverb) ran
</p>
<p>
    over to get in the long line that had about
</p>
<p>
    @Html.DisplayNameFor(Model => Model.number) people in it. When I finally
</p>
<p>
    got on the roller coaster I was @Html.DisplayNameFor(Model => Model.verbPt).
</p>
<p>
    In fact I was so nervous my two knees
</p>
<p>
    were knocking together. This was the @Html.DisplayNameFor(Model => Model.adjective2)
</p>
<p>
    ride I had ever been on! In about two
</p>
<p>
    minutes I heard the crank and grinding of the gears.
</p>
<p>
    That’s when the ride began! When I got to the bottom,
</p>
<p>
    I was a little @Html.DisplayNameFor(Model => Model.verbPt2) but I
</p>
<p>
    was proud of myself. The rest of the day went
</p>
<p>
    @Html.DisplayNameFor(Model => Model.verbPt2). It was a(n) @Html.DisplayNameFor(Model => Model.adverb2)
</p>
<p>
    day at the fun park.
</p>



