@model WebUI.Models.Toy

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    There is a new toy on the market that has everyone saying
    @Html.DisplayFor(model => model.exclamation)! It is called the  @Html.DisplayFor(model => model.sound)
    @Html.DisplayFor(model => model.adjective) @Html.DisplayFor(model => model.noun) box, and will be in stores in
    @Html.DisplayFor(model => model.month). The @Html.DisplayFor(model => model.sound2)
    @Html.DisplayFor(model => model.adjective2) @Html.DisplayFor(model => model.noun2) box is a new gadget that
    lets you do just about anything!
    It @Html.DisplayFor(model => model.verb)s, it  @Html.DisplayFor(model => model.verb2)s, and it even serves
    @Html.DisplayFor(model => model.beverage)! It is easy to operate and requires no
    instructions!
    You can also have it custom made any size up to
    @Html.DisplayFor(model => model.number) inches or a @Html.DisplayFor(model => model.color) to glow in the
    dark at no extra charge! The original product is pocket-sized and
    @Html.DisplayFor(model => model.color2). There are @Html.DisplayFor(model => model.number2) jacks on the
    product for 6V DC power and for upgrades and add-ons. You can add
    head-phones, @Html.DisplayFor(model => model.nounPl) monitors, @Html.DisplayFor(model => model.nounPl2), and more! It’s possible to use them all at the same time!
</p>
